@*@using DayPilot.Web.Mvc.Enums
    @using DayPilot.Web.Mvc.Enums.Month
    @using DayPilot.Web.Mvc.Events.Month
    @using DayPilot.Web.Mvc.Themes.Month*@


@{
    ViewBag.Title = "Eventos | Index";
}

@section styles{
    <link href="~/Content/fullcalendar.css" rel="stylesheet" />

    <style>
        #external-events {
            float: left;
            width: 150px;
            padding: 10px;
            border: 1px solid #ccc;
            text-align: left;
        }

        .wrap {
            width: 100%;
            margin: 0 auto;
        }

        #calendar {
            float: right;
            width: 900px;
        }
    </style>
}

<h2>Agenda</h2>

<div class="wrap">

    <div id="external-events">
        <input type="text" id="txt-adicionar-evento" class="form-control" placeholder="Descrição" />
        <button id="btn-adicionar-evento" class="btn btn-info" style="width: 100%; margin-top: 5px;">Adicionar&nbsp;<span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span></button>
        <h6><span class="glyphicon glyphicon-move"></span>&nbsp;Arraste os eventos para cadastrá-los</h6>
        <div class="lista-de-eventos"></div>
    </div>

    <div id="calendar" class="fc fc-ltr fc-unthemed"></div>

    <div style='clear:both'></div>
</div>
<div class="modal fade modal-editar-evento">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Editar evento</h4>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Título</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="txt-titulo-evento" placeholder="Descrição" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="btn-excluir-evento" class="btn btn-danger">Excluir</button>
                <button type="button" id="btn-editar-evento" class="btn btn-primary">Salvar</button>
                <input type="hidden" id="hdf-id-evento-edicao" />
            </div>
        </div>
    </div>
</div>

@section scripts{
    @Scripts.Render("~/bundles/fullcalendar")

    <script>

        function iniciarEventos() {
            $('#external-events .fc-event').each(function () {
                // store data so the calendar knows to render an event upon drop
                $(this).data('event', {
                    title: $.trim($(this).text()), // use the element's text as the event title
                    stick: true // maintain when user navigates (see docs on the renderEvent method)
                });
                // make the event draggable using jQuery UI
                $(this).draggable({
                    zIndex: 999,
                    revert: true,      // will cause the event to go back to its
                    revertDuration: 0  //  original position after the drag
                });
            });
        }

        $("#btn-adicionar-evento").on("click", function () {
            if ($("#txt-adicionar-evento").val() != "") {
                $(".lista-de-eventos").append("<div class='fc-event ui-draggable ui-draggable-handle'>" + $("#txt-adicionar-evento").val() + "</div>");
                $("#txt-adicionar-evento").val("");
                iniciarEventos();//atualiza a lista de eventos para que o novo evento cadastro seja reconhecido pela função de drag
            }
        });

        // <![CDATA[
        $(document).ready(function () {
            $('#calendar').fullCalendar({
                //theme: true, //precisa referenciar o css do tema tbm
                timezone: 'local', //evita conversões de hora
                editable: true,
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'month,agendaWeek,agendaDay'
                },
                lang: 'pt-br',
                droppable: true,
                drop: function (date) { //ao arrastar dos novos pro calendário - salvar
                    $(this).remove();//remove o evento da lista
                    var titulo = $(this).html();
                    $.ajax({
                        type: 'POST',
                        url: "@Url.Action("AdicionarEvento")" + "?title=" + titulo + "&start=" + date.format(),
                        contentType: "application/json",
                        success: function () {
                            $("#calendar").fullCalendar('removeEvents');
                            $("#calendar").fullCalendar("refetchEvents"); //atualiza o calendário - evento novo fica com id do banco
                        }
                    });
                },
                eventDrop: function (event) { //arrastar um evento já dentro do calendário
                    atualizarEvento(event.id, event.start, event.end);
                },
                eventResize: function (event) {
                    atualizarEvento(event.id, event.start, event.end);
                },
                eventClick: function (calEvent) {
                    $("#hdf-id-evento-edicao").val(calEvent.id);
                    $("#txt-titulo-evento").val(calEvent.title);
                    $('.modal-editar-evento').modal('show');
                },
                events: "@Url.Action("GetEventos")"
            });
        });

        function atualizarEvento(eventId, eventStart, eventEnd) {
            var dataRow = {
                'id': eventId,
                'newEventStart': eventStart,
                'newEventEnd': eventEnd
            };
            $.ajax({
                type: 'POST',
                url: "@Url.Action("AtualizarEvento")",
                dataType: "json",
                contentType: "application/json",
                data: JSON.stringify(dataRow)
            });
        }

        $("#btn-editar-evento").click(function () {
            $.ajax({
                type: 'POST',
                url: "@Url.Action("EditarEvento")" + "?id=" + $("#hdf-id-evento-edicao").val() + "&titulo=" + $("#txt-titulo-evento").val() + "&cor=" + $("#hdf-cor-evento-edicao").val(),
                dataType: "json",
                contentType: "application/json",
                success: function (data) {
                    if (data.Sucesso) {
                        $("#calendar").fullCalendar('removeEvents');
                        $("#calendar").fullCalendar("refetchEvents"); //atualiza o calendário - evento novo fica com id do banco
                        $('.modal-editar-evento').modal('hide');
                    }
                }
            });
        });

        $("#btn-excluir-evento").click(function () {
            $.ajax({
                type: 'POST',
                url: "@Url.Action("ExcluirEvento")" + "?id=" + $("#hdf-id-evento-edicao").val(),
                dataType: "json",
                contentType: "application/json",
                success: function (data) {
                    if (data.Sucesso) {
                        $("#calendar").fullCalendar('removeEvents');
                        $("#calendar").fullCalendar("refetchEvents"); //atualiza o calendário - evento novo fica com id do banco
                        $('.modal-editar-evento').modal('hide');
                    }
                }
            });
        });

        // ]]>

    </script>
}

@*[implementação de um calendário semanal]*@
@*@Html.DayPilotCalendar("dpc", new DayPilotCalendarConfig
    {
        BackendUrl = Url.Action("Backend"),
        ViewType = DayPilot.Web.Mvc.Enums.Calendar.ViewType.Week,
        EventMoveHandling = DayPilot.Web.Mvc.Events.Calendar.EventMoveHandlingType.CallBack,
        EventResizeHandling = DayPilot.Web.Mvc.Events.Calendar.EventResizeHandlingType.CallBack,
        TimeRangeSelectedHandling = DayPilot.Web.Mvc.Events.Calendar.TimeRangeSelectedHandlingType.JavaScript,
        TimeRangeSelectedJavaScript = "dpc.timeRangeSelectedCallBack(start, end, null, { name: prompt('New Event Name:', 'New Event') });"
    })*@


@*  [implementação calendário - pago]*@
@*@Html.DayPilotMenu("menu", new DayPilotMenuConfig
    {
        Items = new DayPilot.Web.Mvc.MenuItemCollection
        {
            new DayPilot.Web.Mvc.MenuItem { Text = "Open", Action = MenuItemAction.JavaScript, JavaScript = "alert(e.value());"},
            new DayPilot.Web.Mvc.MenuItem { Text = "-"},
            new DayPilot.Web.Mvc.MenuItem { Text = "Delete", Action = MenuItemAction.CallBack, Command = "Delete"}
        }
    })


    @Html.DayPilotMonth("dpm", new DayPilotMonthConfig()
    {
        BackendUrl = Url.Action("Backend"),
        EventMoveHandling = EventMoveHandlingType.CallBack,
        EventResizeHandling = EventResizeHandlingType.CallBack,
        TimeRangeSelectedHandling = TimeRangeSelectedHandlingType.CallBack,

        ContextMenu = "menu"
    })*@